.about__container{
   width: 66%;
   padding: 4rem 0;
}


@media screen and (max-width: 768px) {
   .about__container{
      width: 100%;
      padding: 2rem 0;
   }
}


@media screen and (max-width: 768px) {
   .about__container{

       padding: 0;
   }
}
