.experience__botao--demo{
    font-size: 1rem;
    border: 1px solid var(--color-boton-azul);
    color: var(--color-blanco-de-skills-hobbies);
    background-color: var(--color-boton-azul);
    padding: 1rem;
    margin-left: 1rem;

}

@media screen and (max-width: 768px) {
    .experience__botao--demo{
        padding: 0.75rem 1rem;
    }
}

@media screen and (max-width: 360px) {
    .experience__botao--demo{
        margin-left: 0.825rem;
    }
}