.experience{
    padding: 0 9.5rem;
    margin: 2rem 0;
}

@media screen and (max-width: 1280px) {
    .experience{
        padding: 0 5rem;
    }
}

@media screen and (max-width: 768px) {
    .experience{

        padding: 0 2rem;
    }
}