.title__profile{
    width: 34%;
    max-width: 368px;
    border-radius: 500px;
}



@media screen and (max-width: 768px) {
    .title__profile{
        max-width: 146px;
        width: calc(100% - (68% - 1rem));
    }
}

@media screen and (max-width: 360px) {
    .title__profile{
        order: -1;
        margin: 1rem 0;
    }
}