
@media screen and (max-width: 768px) {
    .title__profile{
        width: 20%;
        height: 146px;
    }
}

@media screen and (max-width: 360px) {
    .title__profile{
        order: -1;
        width: 98px;
        height: 98px;
        margin: 1rem 0;
    }
}