.hobbies__box{
    background-color: var(--color-blanco-de-skills-hobbies);
    padding: 1rem;
    line-height: 1.75rem;
    width: 11%;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    height: calc((100vw - (100vw * 0.07)) * 0.09); /* consiguiendo la anchura de los bloques de skills */

}

@media screen and (max-width: 768px) {
    .hobbies__box{
        height: 118px;
        width: calc((100% / 3) - 2.675rem);
        margin-right: 1rem;
        margin-bottom: 2rem;
    }
        
    .hobbies__box:nth-child(3n){
        margin-right: 0;
    }
    
    
}

@media screen and (max-width: 360px) {
    .hobbies__box{
        width: calc(50% - 2.5rem);
        margin: 0;
        margin-bottom: 2rem;
    }

    .hobbies__box:nth-child(2n){
        margin-right: 0;
        width: calc(50% - 2.5rem);
    }

    .hobbies__box:nth-child(odd) {
        margin-right: 1rem;
    }

}