.menu__list{
    display: flex;
    
}

.menu__list__item{

    color: var(--color-de-letra);
    margin-right: 2rem;
}


.menu__list__item--contacto{
    color: var(--color-de-letra);
    font-weight: bold;

}


@media screen and (max-width: 768px) {
    .menu__list__item{

        display: none;
    }
}


@media screen and (max-width: 360px) {
    .menu__list__item--contacto{
        font-size: 0.875rem;
        font-weight: unset;
        margin-left: 0;

    }
}