.menu{
    display: flex;
    justify-content: space-between;
    padding: 0 9.5rem;
    margin: 2rem 0;
    flex-wrap: wrap;
}

@media screen and (max-width: 1280px) {
    .menu{
        padding: 0 5rem;
    }
}

@media screen and (max-width: 768px) {
    
    .menu{

        padding: 0 2rem;
    }
}


@media screen and (max-width: 360px) {
    .menu{
        padding: 0 1rem;
        margin: 1rem 0;
        align-items: center;
    }
}